<div class="container">
    <!-- <div class="tab-container" [ngClass]="{'is-loading':loading.saveDecimal || loading.saveSymbol}"> -->
    <div class="tabs">
        <div class="tab" *ngFor="let tab of tabs.list; let i = index" (click)="changeTab(tab.tab)"
            [ngClass]="tabs.activeTab == tab.tab? 'active' : ''"> {{tab.label}}
        </div>
    </div>
    <div class="content-settings">
        <div class="tab-content" *ngIf="tabs.activeTab === 'details'">
            <div class="settings">
                <div class="form">
                    <h2>My Profile</h2>
                    <div class="notification subscription-wrapper">
                        <div class="field-list">
                            <label>Organisation Name :</label>
                            <div class="plan-name">{{storeData.storeName}}</div>
                        </div>
                        <div class="field-list">
                            <label>Shop URL:</label>
                            <div class="plan-name">{{storeData.shopUrl}}</div>
                        </div>
                        <div class="field-list">
                            <label>Email ID :</label>
                            <div class="plan-name">{{storeData.email}}</div>
                        </div>
                        <div class="field-list">
                            <label>Phone Number :</label>
                            <div class="plan-name">{{storeData.phone}}</div>
                        </div>
                        <div class="field-list">
                            <label>Country :</label>
                            <div class="plan-name">{{storeData.country_name}}</div>
                        </div>
                        <div class="field-list">
                            <label>Currency :</label>
                            <div class="plan-name">{{storeData.currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content" *ngIf="tabs.activeTab === 'priceSetting'">
        <div class="step-content">
            <div class="step">
                <div class="step-title">
                    <h3>1. Open settings <a href="{{storeSettings}}" target="_blank">settings/generalSettings</a></h3>
                    <h3>2. Goto store currency and click on change formatting</h3>
                    <h3>3. Change fields value as shown in image</h3>
                </div>
                <div *ngIf="showHint" class="currency-hint">
                    <span>Replace "$" with your currency sign.</span>
                    <span>Replace "USD" with your currency code.</span>
                </div>
                <div class="step-text">
                    <span class="field-title">HTML with currency</span>
                    <span class="field-value">
                        <input type="text" [value]=texts[3] readonly>
                    </span>
                </div>
                <div class="step-text">
                    <span class="field-title">HTML without currency</span>
                    <span class="field-value">
                        <input type="text" [value]=texts[2] readonly>
                    </span>
                </div>
                <div class="step-status">
                    <span *ngIf="integrated" class="badge badge-success">Integrated</span>
                    <!-- <span *ngIf="!integrated" class="badge badge-danger">Not Integrated</span> -->
                </div>
                <!-- <div class="step-img">
          <img src="assets/ccStep4.png" alt="">
        </div> -->
            </div>
        </div>
    </div>

    <div class="tab-content" *ngIf="tabs.activeTab === 'otherSetting'">
        <div class="note">
            <h6>Note</h6>
            <p>In most of cases these settings are not required. So do not change settings here if our app is working
                normally.</p>
            <p>In case our app is not working let us know by chat support from bottom right corner we'll let you know,
                is it
                required to add settings here or not.</p>
        </div>
        <div class="store-currency-symbol">
            <div class="input-group">
                <label>Your store currency symbol.
                    <span class="sub">Enter your currency symbol here only if it contains <b> . (dot)</b> or <b> ,
                            (comma)</b> or
                        <b> ' (apostrophe)</b></span>
                </label>
                <input type="text" [(ngModel)]="storeCurrencySymbol">
                <button class="save-btn" (click)="saveSymbol();">Save Symbol</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="overlay" [ngClass]="{active: planError == true}">
      <div class="popup" *ngIf="planError == true">
          <h3>Upgrade Plan to countinue</h3>
          <a class="close" (click)="changeBoolean('planError',false);">&times;</a>
          <div class="content">
              You need to Upgrade your plan to continue using our app.
            </div>
            <div class="flex align-items-center justify-content-center">
                <button class="btn" [routerLink]="['/pricing']">
                    <span>Goto Pricing</span>
                </button>
            </div>
        </div>
    </div> -->