$brand-color: #3e82b0;
$brand-hover-color: #276996;
label {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.5;
}

.container {
    width: 95%;
    position: absolute;
    // margin-left: 256px;
    top: 0;
    z-index: 12;
    margin-top: 156px;
    border: 1px solid #ece5e5;
    border-radius: 3px;
    height: 100vh;
    form {
        margin-left: 20px;

        .title {
            line-height: 1.5;
            font-weight: 600;
            color: black;
            margin-top: 20px;
            margin-bottom: 11px;
        }
        // .switch-btn {
        //     display: flex;
        //     .text {
        //         font-size: 13px;
        //         margin: 6px 2px;
        //     }
        //     .switch {
        //         position: relative;
        //         display: inline-block;
        //         width: 23px;
        //         height: 15px;
        //         margin: 4px 18px;
        //         input {
        //             opacity: 0;
        //             width: 0;
        //             height: 0;

        //             &:checked + .slider {
        //                 background-color: green;
        //             }
        //             &:focus + .slider {
        //                 box-shadow: 0 0 1px green;
        //             }
        //             &:checked + .slider:before {
        //                 -webkit-transform: translateX(26px);
        //                 -ms-transform: translateX(26px);
        //                 transform: translateX(13px);
        //             }
        //         }
        //     }
        //     .slider {
        //         position: absolute;
        //         cursor: pointer;
        //         top: 0;
        //         left: 0;
        //         right: 0;
        //         bottom: 0;
        //         background-color: #ccc;
        //         -webkit-transition: 0.4s;
        //         transition: 0.4s;
        //         &::before {
        //             position: absolute;
        //             content: "";
        //             height: 10px;
        //             width: 10px;
        //             left: 0px;
        //             bottom: 3px;
        //             background-color: white;
        //             transition: 0.4s;
        //             border-radius: 50px;
        //         }
        //         &.round {
        //             border-radius: 34px;
        //             & :before {
        //                 border-radius: 50%;
        //             }
        //         }
        //     }

        // }
            .radio-btn {
                display: flex;
                input {
                    margin-top: 10px;
                    padding: 0px 5px;
                }
                .radio {
                    font-size: 30px;
                    display: flex;
                }

                label {
                    margin-right: 10px;
                }
            }
        select {
            height: 35px;
            width: 100%;
            border: solid #f8f4f4;
            border-radius: 3px;
            line-height: 2.5;
            margin-bottom: 15px;
        }

        .btn1 {
            padding: 11px 15px;
            color: #fff;
            background-color: $brand-color;

            border-radius: 4px;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            width: 100px;
            &:hover {
                color: #3e82b0;
                background-color: #fff;
                border: 1.5px solid #3e82b0;
            }
        }
        .money-format {
            display: flex;

            .input-group {
                margin-right: 7px;

                .attach {
                    min-width: 120px;
                }

                .space {
                    min-width: 60px;
                }
            }
        }
        .preview-text {
            background: #b4cbda;
            padding: 5px;
            border-radius: 3px;
            width: 100%;
            white-space: pre-wrap;
        }
        .error {
            font-size: 14px;
            margin: 0px 0px 0px;
            text-align: left;
            color: red;
            line-height: 2.4;
        }
        .text {
            line-height: 2.4;
        }
        .currencies-not-added {
            color: #737171;
            display: flex;
            padding-top: 5px;
            align-items: center;
            span {
                font-size: 12px;
                &.crn {
                    margin-right: 5px;
                    background: #eeeeee;
                    padding: 3px 5px;
                    letter-spacing: 0.5px;
                    display: inline-flex;
                    border-radius: 2px;
                }

                &.inline-title {
                    margin-right: 10px;
                    margin-top: 0px;
                }
            }
        }
        .currency-instruction {
            font-size: 15px;
            margin: 10px 0px 20px 0px;
            text-align: left;
            color: #737171;
            //line-height: 22px;

            ol {
                padding-left: 20px;
            }
        }
        .inner-text {
            color: black;
            font-weight: 500;
        }
    }
}
