*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    float: left;
    width: 1024px;
    height: 73px;
    background-color: rgb(243, 242, 241);
    position: relative;
    left: 0px;
    top: 0px;
    nav{
        float: left;
        left: 0px;
        display: flex;
        padding: 16px 14px;
        margin: 2px 8px;
    }
}