<div class="header d-flex-between">
    <div class="d-flex-start">
        <div class="icon side-bar-handler" (click)="changeSidebar();">
            <svg class="open" width="22px" height="15px" viewBox="0 0 22 15" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
                    stroke-linejoin="round">
                    <g id="open" transform="translate(1.000000, 1.000000)" stroke="#768389">
                        <path d="M0,0.5 L20,0.5" id="Path-33" stroke-width="2"></path>
                        <path d="M1,4.5 L12,4.5" id="Path-33" stroke-width="2"></path>
                        <path d="M1,8.5 L12,8.5" id="Path-33" stroke-width="2"></path>
                        <path d="M0,12.5 L20,12.5" id="Path-33" stroke-width="2"></path>
                        <polyline id="Path-38" stroke-width="1.3"
                            points="16.1279851 4.5 18.1279851 6.70954979 16.1279851 8.5"></polyline>
                    </g>
                </g>
            </svg>
            <svg class="close" width="22px" height="15px" viewBox="0 0 22 15" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
                    stroke-linejoin="round">
                    <g id="close" transform="translate(1.000000, 1.000000)" stroke="#768389">
                        <path d="M0,0.5 L20,0.5" id="Path-33" stroke-width="2"></path>
                        <path d="M1,4.5 L12,4.5" id="Path-33" stroke-width="2"></path>
                        <path d="M1,8.5 L12,8.5" id="Path-33" stroke-width="2"></path>
                        <path d="M0,12.5 L20,12.5" id="Path-33" stroke-width="2"></path>
                        <polyline id="Path-38" stroke-width="1.3"
                            transform="translate(17.127985, 6.500000) scale(-1, 1) translate(-17.127985, -6.500000) "
                            points="16.1279851 4.5 18.1279851 6.70954979 16.1279851 8.5"></polyline>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="d-flex-end">
        <div class="left">
            <div class="switch-btn">
                <button (click)="help()" class="btn btn-info">Need Help?</button>
            </div>
        </div>
        <div class="left">
            <div>
                <button (click)="changeColor();" class="btn btn-info">Enable/Disable App</button>
            </div>
        </div>
        <div class="right">
            <div class="store-details">
                <div class="d-flex-center menu-title">
                    <div class="store-name d-flex-between"><span>wscc-test</span></div>
                </div>
            </div>
        </div>
    </div>
</div>