<div class="sidebar">
    <div class="logo">
        <img src="../../assets/Logo.png" alt="">
    </div>
    <div class="menu">
        <div><a routerLink="/dashboard" href="/">Dropdown</a></div>
        <div> <a routerLink="/country" href="/">Country Rules</a></div>
        <div> <a routerLink="/currency" href="/">Currency Rules</a></div>
        <div> <a routerLink="/general" href="/">General Rules</a></div>
        <div> <a routerLink="/other" href="/">Other Config</a></div>
        <div> <a routerLink="/dropdownCofig" href="/">Cart Notification</a></div>


        <!-- <div>Currency Rules</div>
        <div>General Rules</div>
        <div>Other Config</div>
        <div>Cart Notification</div> -->
    </div>
</div>
