$brand-color: #3e82b0;
$brand-hover-color: #276996;
*{
    margin: 0;
    padding: 0;
}


.form-container {
    .input-field {
        margin-bottom: 16px;
        .title {
            line-height: 1.5;
            font-weight: 600;
            color: #3f3c3c;
            margin-top: 10px;
            

            .input-group {
                margin: 2px 3px;

                select {
                    height: 37px;
                    width: 100%;
                    border: 2px solid #ccc;
                    border-radius: 3px;
                }
            }
        }
    }
    .radio-btn {
        line-height: 1.5;
        .switch-btn {
            display: flex;
            .text {
                font-size: 13px;
                margin: 6px 2px;
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 18px;
                height: 15px;
                margin: 7px 12px;
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;

                    &:checked + .slider {
                        background-color: green;
                    }
                    &:focus + .slider {
                        box-shadow: 0 0 1px green;
                    }
                    &:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(13px);
                    }
                }
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                &::before {
                    position: absolute;
                    content: "";
                    height: 10px;
                    width: 10px;
                    left: 3px;
                    bottom: 3px;
                    background-color: white;
                    transition: 0.4s;
                    border-radius: 50px;
                }
                &.round {
                    border-radius: 34px;
                    & :before {
                        border-radius: 50%;
                    }
                }
            }
        }
        input {
            margin: 6px 3px;
        }
        label {
            font-weight: 500;
            font-size: 16px;
        }
        span {
            color: #a6a6a6;
            padding: 2px 14px;
        }
        ol {
            li {
                color: #a6a6a6;
                padding: 2px 24px;
                list-style: none;
            }
        }
        .btn1 {
            padding: 11px 15px;
            color: #fff;
            background-color: $brand-color;

            border-radius: 4px;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            &:hover {
                color: #3e82b0;
                background-color: #fff;
                border: 1.5px solid #3e82b0;

            }
        }
        select {
            height: 35px;
            width: 100%;
            border: solid #f8f4f4;
            border-radius: 3px;
            line-height: 1.3;
        }

        

    }
}
