<form class="form-container" [formGroup]="countryForm">
  <div class="input-field select-cn-country">
    <div class="title">Country</div>
    <div class="input-group">
      <select formControlName="countryCode" (change)="selectCurrency($event)">
        <optgroup label="Continents">
          <ng-container *ngFor="let crn of countrySelect; let i = index">
            <option *ngIf="(crn.countryCode.length > 2 && crn.countryCode != 'ROW')" [value]=crn.countryCode>
              {{crn.country}}
            </option>
          </ng-container>
        </optgroup>

        <optgroup label="Countries">
          <option value="">------ Select Country -----</option>
          <ng-container *ngFor="let crn of countrySelect; let i = index">
            <option *ngIf="crn.countryCode.length == 2" [value]=crn.countryCode>
              {{crn.country}}
            </option>
          </ng-container>
        </optgroup>
      </select>
      <!-- <div *ngIf="(countryForm.get('countryCode').dirty || countryForm.get ('countryCode').touched) && countryForm.get('countryCode').errors "
      class="invalid">
      <div *ngIf= "countryForm.controls['countryCode'].errors['required']">Country Name is required

      </div> -->

    </div>
    <!-- <div *ngIf="(countryForm.get('countryCode').dirty || countryForm.get('countryCode').touched) && countryForm.get('countryCode').errors"
                    class="invalid">
                    <div *ngIf="countryForm.controls['countryCode'].errors['required']">Country Name is required
                    </div> -->
  </div>

  <!-- </div> -->
  <div class="input-field select-cn-currency">
    <div class="title">Currency </div>
    <div class="input-group">
      <select formControlName="currency" (change)="currencyChanged();">
        <option *ngIf="countryForm.controls['countryCode'].value == 'ROW'" value='ACS'>ACS (Auto
          Currency
          Switch) </option>
        {{countryForm.controls['countryCode'].value}}
        <option *ngFor="let crn of currencySelect" [value]=crn.currency>{{crn.currency}} </option>
      </select>
      <!-- <div *ngIf="(countryForm.get('currency').dirty || countryForm.get('currency').touched) && countryForm.get('currency').errors"
                    class="invalid">
                    <div *ngIf="countryForm.controls['currency'].errors['required']">Currency is required</div>
                </div>
         </div> -->
    </div>
  </div>
  <div class="configuration" formGroupName="configuration">
    <div class="price-rounding-config">
      <div class="grp select-cn-exchange-rate">
        <div class="radio input-field">
          <div class="title">Exchange rate</div>
          <div class="radio-btn">
            <div>
              <input type="radio" formControlName="manualExchange" value="auto"> <label for="auto">Use automatic rates
              </label>
              <div>
                <span>prices will fluctuate based on market rates.</span>
              </div>
            </div>
            <div>
              <input type="radio" formControlName="manualExchange" value="manual"> <label for="manual">Use a manual
                rate
              </label>
              <div>
                <span> prices won't fluctuate,but your profit margin will vary based on market rates.</span>
              </div>
            </div>



            <div class="title">Price Rounding</div>
            <div class="switch-btn">
              <label class="switch">
                <input type="checkbox" formControlName='showOnDesktop'>
                <span class="slider round"></span>
              </label>
            </div>

            <div class="title">To enable this curruncy in checkout page you have to enable this currency
              in your
              default shopify payment gateway and also sync same settings .</div>
            <div class="switch-btn">
              <label class="switch">
                <input type="checkbox" formControlName='showOnDesktop'>
                <span class="slider round"></span>
              </label>
            </div>
            <div class="error">
              <!-- <span>To enable this curruncy in checkout you have to follow these steps.</span> -->
            </div>
            <div>
              <span>For perfect rounded currency conversion you need three thing</span>
              <ol>
                <li>1.Your payment gateway need to be Shopify default payment gateway</li>
                <li>2.From your Shopify admin, go to Settings > Payments > Clik on Manage. <a>
                    Click
                    Here</a></li>
                <li>3.you can enable Shopify rounding or you can set manually rate for to get perfect
                  rounding
                  price</li>
              </ol>
            </div>
            <button mat-raised-button class="btn1"> Submit</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>















<!-- href="https://help.shopify.com/en/manual/payments/shopify-payments/multi-currency/setup#steps-to-enable-selling-in-multiple-currencies"> -->
