@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/themes/dark.scss";
@import "~@swimlane/ngx-datatable/themes/bootstrap.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

.container {
    position: absolute;
    margin-left: 250px;
    top: 0;
    z-index: 12;
    .table-responsive {
        width: 600px;
        height: auto;
        margin-top: 20px;
        text-align: center;

        .material {
        
            &.new-styled {
                color: blue;
            }
        }
    }
}
