<app-sidebar></app-sidebar>
<div class="container">

    <!-- <p>country works!</p> -->

    <!-- <div class="table-responsive">
        <ngx-datatable class="material new-styled" [rows]="countries" [headerHeight]="50" [footerHeight]="50"
            [externalPaging]="false" [rowHeight]="'auto'" [columnMode]="'force'" [limit]="page.limit"
            [offset]="page.offset" [count]="page.count">
            <ngx-datatable-column name="Country"></ngx-datatable-column>
            <ngx-datatable-column name="Name"></ngx-datatable-column>
            <ngx-datatable-column name="Currency"></ngx-datatable-column>
        </ngx-datatable>
    </div> -->



    <div class="table-responsive">
        <div class="col-md-12 mb-3" style="margin-top: 10px;">
            <ngx-datatable class="material " [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" rowHeight="auto">
                <ngx-datatable-column name="no.">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        {{(rowIndex + 1)}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Country">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row?.Country |titlecase}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Name">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.Name |uppercase }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Currency">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row?.Currency}}
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
            <div>
            </div>
        </div>
    </div>
</div>
