<h1>js arry method</h1>
<p>Converting Arrays to Strings</p>
{{fruits.toString()}}
<p>join all arry element</p>
{{fruits.join("+")}}
<p>Array pop cut last element</p>
{{fruit}}
<p>Array pop cut last any element</p>
{{fruit.pop()}}
<p>Array push element</p>
{{name}}
<p> new push array length</p>
{{name.push()}}
<p>Shifting Elements</p>
{{name1}}
<!-- {{name1}} -->
<p>UnShifting Elements</p>
{{word}}
<p>Changing third Elements</p>
{{word1}}
<p>Changing +5 Elements</p>
{{word2}}
<p> Elements length</p>
{{word2.length}}
<p>concat method</p>
{{fullname}}
<p>concat method add one value</p>
{{concat}}
<p>spliceing method</p>
{{fruits2}}<br>
<!-- {{splice}} -->
<p>remove spliceing method</p>
{{fruits4}}<br>
<!-- {{remove}} -->
<p>sliceing method</p>
{{fruits3}}<br>
{{slice}}

<h1>arry variables</h1>
{{c}}
{{a1}}
<h1>JavaScript Functions</h1>

<p>a*b</p>
{{res(12,2)}}<br>
<p>Convert Fahrenheit to Celsius</p>
{{toCelsius(77)}}<br>
<!-- {{factorial}} -->
<h1>object</h1>
{{car1}}<br>
{{car.type}}
{{car.model}}
{{car.color}}
<table>
    <thead>
    <!-- <th>porperty</th> -->
    <th>property value</th>
   </thead>
   <thead>
    <tr>{{name3.firstname}}</tr>
    <tr>{{name3.lastname}}</tr>
    <tr>{{name3.age}}</tr>
    <tr>{{name3.eyecolor}}</tr>



   </thead>

</table>
<h1>Events</h1>
<p></p>
<p>click event</p>
<button class="btn" (click)="onclick()">add</button>
{{add}}

<p>use peramiter click event</p>
<button class="btn" (click)="onclick1('hi')">add1</button>
{{add1}}
