<div class="container1">
    <header>
        <div class="header">
            <a routerLink="/" href="/"></a>
            <img src="../../../assets/Logo.png" alt="logo image">
        </div>
    </header>
    <div class="hero-section">
        <div class="hero">
            <div class="hero-text">
                <h1>Don't Let Your Customers Down.</h1>
                <h3>Enlarge brand with pleasent customer</h3>
            </div>
        </div>
    </div>

    <form [formGroup]="loginform">
        <div class="hero-form">
            <div class="sinjal-input">
                <div class="input">
                    <label>To install Currency Converter & Switcher through shopify</label>
                    <div class="input1">
                        <input type="text" formControlName='url' placeholder="your shop url">
                        <button class="btn" type="submit"[disabled]="loginform.invalid" (click)="goTo()">submit</button>
                    </div>
                    <div style="color: red;" *ngIf="url && url.invalid "> Shop URL is required</div>
                </div>
            </div>
        </div>
    </form>
</div>
