@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script&family=Lato:ital@0;1&family=Lobster&family=Open+Sans&family=Roboto+Condensed&display=swap");

* {
    margin: 0px;
    padding: 0px;
}
h1,
h2,
h3,
p,
input,
label,
span {
    font-family: "Lato", sans-serif;
    line-height: 1.3;
}
.container {
    position: absolute;
    margin-left: 250px;
    top: 0;
    z-index: 12;
    .block {
        width: 600px;
        height: auto;
        background-color: #fff;
        box-shadow: 0px 0px 9px 0px #f1f0f0;
        margin: 10px 14px;
        
        .dashboard {
            margin: 10px 14px;
            padding: 20px 10px;
            
            
            .block1 {
                background-color: #f2f5f7;
                width: 90%;
                height: 57px;
                padding: 7px 12px;
                font-size: 14px;
                border-radius: 4px;
                margin: 10px 14px;
                border: 1px solid #3e82b0;
            }
            .block2 {
                background-color: #fff;
                width: 90%;
                height: auto;
                padding: 7px 12px;
                box-shadow: 0px 0px 9px 0px #ccc;
                margin: 10px 14px;
                border-radius: 4px;
                line-height: 1.3;
                

                .heading {
                    font-size: 18px;
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                .switch-btn {
                    display: flex;
                    .text {
                        font-size: 13px;
                        margin: 6px 2px;
                    }
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 25px;
                        height: 16px;
                        margin: 7px 12px;
                        input {
                            opacity: 0;
                            width: 0;
                            height: 0;

                            &:checked + .slider {
                                background-color: green;
                            }
                            &:focus + .slider {
                                box-shadow: 0 0 1px green;
                            }
                            &:checked + .slider:before {
                                -webkit-transform: translateX(26px);
                                -ms-transform: translateX(26px);
                                transform: translateX(13px);
                            }
                        }
                    }
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color:#ccc;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                        &::before {
                            position: absolute;
                            content: "";
                            height: 10px;
                            width: 10px;
                            left: 3px;
                            bottom: 3px;
                            background-color: white;
                            transition: 0.4s;
                            border-radius: 50px;
                        }
                        &.round {
                            border-radius: 34px;
                            & :before {
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
        .inner-text {
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 14px;
            margin-top: 10px;
            background-color: rgb(250, 246, 246);
        }
        .input-radio {
            font-size: 12px;
            padding: 2px 10px;
            input {
                span {
                    font-size: 14px;
                    font-weight: bold;
                    padding: 2px 14px;
                }
                .btn {
                    color: #3e82b0;
                }
            }
        }
        label {
            font-size: 14px;
            font-weight: 600;
        }
        span {
            font-size: 14px;
            font-weight: bold;
            padding: 2px 14px;
        }
        // .button1 {
        //     label {
        //         padding: 2px 10px;
        //     }
        // }
        .button {
            display: flex;

            .box {
                background-color: #fff;
                box-shadow: 0px 0px 0px 5px #fdf9f9;
                width: 50px;
                height: 30px;
                margin: 15px 10px;
                text-align: center;
                // .px{
                //     width: 20px;
                //     height: 20px;
                // }
            }
        }
        input{
            &.color-box{
                width: 50px;
                height: 50px;
            }
        }
    }
}
