<app-sidebar></app-sidebar>
<div class="container">
    <div class="block">
        <div class="dashboard">
            <div class="block1">
                <i class="fas fa-info-circle"></i>
                please disable other third party currency conversion app or any theme currency conversion facility to
                use this app smoothly.
            </div>
            <div class="block2 max-width">
                <form [formGroup]="sideform">
                    <h4 class="heading">Show dropdown to users</h4>
                    <div class="switch-btn">
                        <label class="text">User allowed to select currency</label>
                        <label class="switch">
                            <input type="checkbox" id="showDropdown" formControlName='showDropdown'>
                            <span class="slider round"></span>
                            <!-- <label for="showDropdown">Toggle</label> -->
                        </label>
                    </div>
                    <!-- <div class="inner-text">If enabled then a dropdown will be added</div> -->

                    <div *ngIf="showDropdown?.value" class="inner-text">If enabled then a dropdown will be
                        added
                        on
                        your website and user can select currency.</div>
                    <!-- {{showDropdown?.value}} -->
                </form>

            </div>
            <div class="block2" *ngIf="showDropdown?.value">
                <form [formGroup]="sideform">
                    <h4 class="heading">Converter Box Display</h4>
                    <div class="switch-btn">
                        <label> Show on desktop</label>
                        <label class="switch">
                            <input type="checkbox" formControlName='showOnDesktop'>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="switch-btn">
                        <label> Show on mobile</label>
                        <label class="switch">
                            <input type="checkbox" formControlName='showOnMobile'>
                            <span class="slider round"></span>
                        </label>

                    </div>
                        <div class="hint danger" *ngIf="!showOnDesktop?.value && !showOnMobile?.value">If both
                            of
                            these are disable then user can not see the dropdown.</div>



                </form>

            </div>
            <div class="block2"  *ngIf="showDropdown?.value  && showOnMobile?.value">
                <h4 class="heading">Converter location in store front</h4>

                <form [formGroup]="sideform">
                    <div class="input-radio">
                        <input class="btn" type="radio" formControlName="side" value="Bottom Left"><span> Bottom
                            Left</span>
                        <input class="btn" type="radio" formControlName="side" value="Bottom right"><span>Bottom
                            right</span>
                        <input class="btn" type="radio" formControlName="side" value="top right"><span>top right</span>
                        <input class="btn" type="radio" formControlName="side" value="top Left"><span>top Left</span>
                    </div>
                    <div class="button" *ngIf="side?.value == 'Bottom Left'">
                        <div class="output">
                            <div class="clm">bottom
                                <div class="box">20px</div>
                            </div>
                            <div class="clm">left
                                <div class="box">20px</div>
                            </div>
                        </div>
                    </div>


                    <div class="button" *ngIf="side?.value == 'Bottom right'">
                        <div class="output">
                            <div class="clm">bottom
                                <div class="box">20px</div>
                            </div>
                            <div class="clm">right
                                <div class="box">20px</div>
                            </div>
                        </div>
                    </div>
                    <div class="button" *ngIf="side?.value == 'top right'">
                        <div class="output">
                            <div class="clm">top
                                <div class="box">20px</div>
                            </div>
                            <div class="clm">right
                                <div class="box">20px</div>
                            </div>
                        </div>
                    </div>
                    <div class="button" *ngIf="side?.value == 'top Left'">
                        <div class="output">
                            <div class="clm">top
                                <div class="box">20px</div>
                            </div>
                            <div class="clm">left
                                <div class="box">20px</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="block2"  *ngIf="showDropdown?.value  && showOnMobile?.value">
                <form [formGroup]="sideform">
                    <h4 class="heading">How Country flag</h4>
                    <div class="switch-btn">
                        <label class="text">Country flag</label>
                        <label class="switch">
                            <input type="checkbox" formControlName='showAllCountries'>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="block2"  *ngIf="showDropdown?.value  && showOnMobile?.value">
                <form action="" [formGroup]="sideform">
                    <h4 class="heading">Configure currency selector theme</h4>
                    <div class="color-section">
                        <div class="form-group c-box ">
                            <label>Text Color</label>
                            <input class="form-control color-box" [(colorPicker)]="color" cpWidth='230px'
                                cpHeight="100px" [style.background]="color" />
                        </div>
                        <div class="form-group c-box">
                            <label> Background Color</label>
                            <input class="form-control color-box" [(colorPicker)]="bgcolor" cpWidth='230px'
                                cpHeight="100px" [style.background]="bgcolor" />
                        </div>
                        <div class="form-group c-box">
                            <label>Hover Background Color</label>
                            <input class="form-control color-box" [(colorPicker)]="bgcolor" cpWidth='230px'
                                cpHeight="100px" [style.background]="bgcolor" />
                        </div>
                        <div class="form-group c-box">
                            <label>Hover font Color</label>
                            <input class="form-control color-box" [(colorPicker)]="color" cpWidth='230px'
                                cpHeight="100px" [style.background]="color" />
                        </div>

                    </div>
                    <div class="output">
                        <div class="clm">Text Size
                            <div class="box">14</div>
                        </div>
                        <div class="clm">Map Hight
                            <div class="box">21</div>
                        </div>
                        <div class="clm">Map Width
                            <div class="box">35</div>
                        </div>
                    </div>
                    <div class="switch-btn">
                        <label class="text">Show full currency name</label>
                        <label class="switch">
                            <input type="checkbox" formControlName='showAllCountries'>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="switch-btn">
                        <label class="text">Show all countries</label>
                        <label class="switch">
                            <input type="checkbox" formControlName='showAllCountries'>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </form>
            </div>


        </div>

    </div>
</div>